* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    user-select: none;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 19, 19, 0.45);
    background-image: url(photos/istockphoto-1473319745-612x612.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h2 {
    font-size: 3em;
    margin: 0 0 15px 0;
    padding: 20px;
    color: white;
}

h4 {
    font-size: 3em;
    margin: 0 0 15px 0;
    padding: 20px;
    color: white;
    text-transform: uppercase;
}

.para {
    font-size: 25px;
    color: whitesmoke;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #f5f5f5;
}

button {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background-color: #f87060;
}

@media(max-width: 768px) {
    .main {
        width: 100%;
        height: fit-content;
        /* background-color: #102542; */
        background-image: url(photos/istockphoto-1473319745-612x612.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}