* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    user-select: none;
}

.nav-bar {
    background-color: #0b1f3a;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-bar .logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 25px;
    text-transform: uppercase;
}

.nav-links a {
    color: white;
    font-weight: 24px;
    text-decoration: none;
}

.nav-links a:active {
    text-decoration: underline;
}

.user-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-icon img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 30px;
    height: 4px;
    background-color: wheat;
    margin: 5px 0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    border-radius: 5px;
    width: 200px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 10px;
}

.dropdown-menu li {
    padding: 10px 0;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #555;
}

#map {
    width: 100%;
    height: 600px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.info {
    height: 60vh;
    /* background-image: url(photos/photoslider-left1.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f87060;
}

.info-heading {
    text-align: center;
    color: #102542;
    font-size: 30px;
    text-transform: capitalize;
    padding: 20px;
}

.info-txt {
    text-align: center;
    font-size: 20px;
    margin-top: 35px;
    color: white;
}

.info-btn {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #0b1f3a;
    color: white;
    margin: 50px 0 0 45%;
}

.popular-destination {
    /* border: 1px solid brown; */
    height: 100vh;
    width: 100%;
}

.popular-destination h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.popular-destination h5 {
    text-align: center;
    color: #333;
    font-size: 13px;
}

.line {
    justify-self: center;
    height: 15px;
    /* margin: 20px; */
    margin: 2% 0 2% 20px;
}

.div-1 {
    height: 75vh;
    width: 45%;
    /* border: 1px solid green; */
    margin: 20px;
    background: url(photos/populardestinaion1-wide.jpg);
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.div-1:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.card-1:hover {
    background-color: rgba(243, 163, 22, 0.5);
}

.card-1 {
    position: absolute;
    left: 50px;
    bottom: -50%;
    background-color: rgba(243, 163, 22, 0.9);
    padding: 48px 47px;
    text-align: center;
    height: 35vh;
    width: 20%;
}

.card-1 h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    display: block;
    line-height: 26px;
    margin: 0;
    color: #fff;
}

span {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.05px;
    line-height: 26px;
    display: block;
}

span.amount {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1.05px;
    line-height: 26px;
    display: block;
    margin: 60px 0px 0px;
}

.div-2 {
    height: 78vh;
    width: 52%;
    /* border: 1px solid green; */
    margin: 30px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 86%;
    left: 45%;
}

.card-2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    background-image: url(photos/populardestinaion3.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    padding: 48px 47px;
    text-align: center;
    height: 35vh;
    width: 45%;
    margin: 15px;
}

.card-2:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

span.txt {
    font-size: 15px;
    color: #f3a316;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.3px;
    display: block;
    margin-bottom: 3px;
}

.card-2 h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    letter-spacing: 0.4px;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 26px;
    text-align: center;
}

.card-3 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    background-image: url(photos/populardestinaion4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 48px 47px;
    text-align: center;
    height: 35vh;
    width: 45%;
    left: 50%;
    margin: 15px;
}

.card-3:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.content-2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 26px;
    text-align: center;
}

span.txt-2 {
    font-size: 15px;
    color: #f3a316;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.3px;
    display: block;
    margin-bottom: 4px;
}

.card-3 h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    letter-spacing: 0.4px;
}

.card-4 {
    position: absolute;
    background: url(photos/populardestinaion1-wide.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 48px 47px;
    text-align: center;
    height: 35vh;
    width: 95%;
    top: 50%;
    margin: 15px;
}

.card-4:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.content-3 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 26px;
    text-align: center;
}

span.txt-3 {
    font-size: 15px;
    color: #f3a316;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.3px;
    display: block;
    margin-bottom: 4px;
}

.card-4 h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-left: 35%;
    letter-spacing: 0.4px;
}

.img {
    height: 75vh;
    width: 45%;
    left: 50%;
    bottom: -260%;
    position: absolute;
    /* border: 1px solid green; */
    background: url(photos/booknow.png) no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    /* border: 1px solid red; */
}

#itinerary-form {
    background-color: #f87060;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    /* border-radius: 20px; */
}

h2 {
    color: #102542;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}

#itinerary-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #102542;
    text-transform: uppercase;
}

#itinerary-form input {
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

#trip-name {
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
}

#itinerary-form button {
    width: 100%;
    height: 40px;
    background-color: #102542;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 10px 0;
    text-transform: uppercase;
}

#itinerary-form button:hover {
    background-color: #333;
}

#saved-itineraries {
    width: 100%;
    /* border: 1px solid black; */
    padding: 20px;
    margin-top: 20px;
}

#itinerary-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    list-style-type: none;
    /* border: 1px solid black; */
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: fit-content;
    /* background-color: burlywood; */
}

#itinerary-list li {
    flex: 0 1 calc(33.33% - 20px);
    padding: 15px;
    width: 20%;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: white;
}

.delete-btn {
    background-color: #f87060;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.error-message {
    font-size: 14px;
    margin-top: 5px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #f87060;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 330px;
    max-width: 90%;
    margin: 10% 0 35% 70%;
}

.popup-content span {
    color: red;
    line-height: 20px;
}

.close-btn {
    position: absolute;
    top: 50%;
    right: 4%;
    font-size: 24px;
    /* cursor: pointer; */
}

.close-btn:hover {
    color: #666;
}

#logout-btn {
    padding: 5px;
    background-color: #102542;
    color: white;
    border: none;
}

.end {
    width: 100%;
    height: 90vh;
    /* border: 1px solid black; */
    background-color: #102542;
    font-size: 20px;
    margin-top: 60px;
}

.container {
    border: 1px solid red;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

.about-widget {
    /* border: 1px solid green; */
    width: 25%;
    margin: 20px;
}

h3 {
    font-size: 25px;
    display: flex;
    text-transform: uppercase;
    /* margin: 20px; */
    color: #f87060;
}

.about-widget h3 {
    margin: 0;
}

.about-widget p {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

.useful-links {
    /* border: 1px solid greenyellow; */
    width: 25%;
    margin: 20px;
}

.links {
    display: block;
    list-style-type: none;
}

.links li {
    /* margin-top: 25px; */
    margin-bottom: 20px;
}

.links a {
    color: white;
    transition: 0.9s ease-in-out;
    text-decoration: none;
}

.links a:hover {
    color: #f87060;
    margin: 10px;
    text-decoration: underline;
}

.popular-destinations {
    /* border: 1px solid brown; */
    width: 35%;
    height: 50vh;
    margin: 20px;
}

.countries {
    display: block;
    list-style-type: none;
}

.places {
    display: block;
    list-style-type: none;
}

.countries li,
.places li {
    color: white;
}

.newsletter {
    width: 80%;
    background-color: #f87060;
    height: 22vh;
    margin: 0 auto;
    display: flex;
}

.newsletter p {
    margin: 62px 0 20px 20px;
    color: white;
    font-size: 14px;
    font-weight: bolder;
}

.newsletter input {
    height: 8vh;
    width: 60%;
    margin: 40px 0 0 5%;
    border-radius: 30px;
    border: none;
    padding: 30px;
}

.newsletter input::placeholder {
    text-align: center;
}

.newsletter button {
    margin: 55px 0 0 3%;
    height: 5vh;
    width: 10%;
    background-color: #0b1f3a;
    text-transform: uppercase;
    border-radius: 30px;
    color: white;
    border: none;
}

#success-message {
    /* border: 1px solid red; */
    height: 10vh;
    width: 50%;
    position: absolute;
    color: #0b1f3a;
    margin: 8% 0% 0 25%;
}

footer {
    background-color: rgb(61, 60, 60);
    text-align: center;
    height: fit-content;
}

footer h5 {
    padding: 20px;
}

footer p {
    font-size: 18px;
}

.no-itineraries,
.no-destinations {
    text-align: center;
    padding: 20px;
}

.no-itineraries i,
.no-destinations i {
    font-size: 48px;
    color: #ccc;
}

.no-itineraries p,
.no-destinations p {
    font-size: 18px;
    color: #666;
}

#holiday-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    list-style-type: none;
    /* border: 1px solid black; */
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: fit-content;
    /* background-color: burlywood; */
}

#holiday-list li {
    flex: 0 1 calc(33.33% - 20px);
    padding: 15px;
    width: 20%;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: white;
}

.delete-destination-btn {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    margin-top: 8px;
    border-radius: 4px;
    cursor: pointer;
}

@media (min-width: 1200px) {}

@media (max-width: 992px) {}

@media(max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }

    .info-btn {
        margin: 20px 0 0 35%;
    }

    .popular-destination {
        /* border: 1px solid brown; */
        height: fit-content;
        width: 100%;
    }

    .div-1 {
        height: 75vh;
        width: 90%;
    }

    .card-1 {
        position: absolute;
        left: 35px;
        bottom: -60%;
        background-color: rgba(243, 163, 22, 0.9);
        padding: 45px 44px;
        text-align: center;
        height: 35vh;
        width: 30%;
    }

    .card-1 h3 {
        font-size: 14px;
        font-weight: 600;
    }

    span.amount {
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: 1.05px;
        line-height: 26px;
        display: block;
        margin: 60px 0px 0px;
    }

    .div-2 {
        position: relative;
        height: 75vh;
        /* border: 1px solid green; */
        margin-left: -30vh;
        width: 95%;
    }

    .card-2 {
        padding: 46px 45px;
        width: 40%;
    }

    .card-3 {
        left: 45%;
        margin: 15px;
    }

    .card-4 {
        width: 90%;
    }

    .img {
        display: none;
    }

    #itinerary-form {
        width: 100%;
        margin-bottom: 20px;
    }

    #itinerary-list {
        justify-content: space-around;
        list-style-type: none;
        display: flex;
        width: inherit;
        flex-wrap: wrap;
        flex-direction: column;
        height: fit-content;
        margin-left: -2px;
    }

    #itinerary-list li {
        flex: 0 1 calc(20.33% - 20px);
        width: 90%;
        margin-top: 20px;
        margin-left: 15px;
    }

    .about-widget {
        /* border: 1px solid green; */
        width: 45%;
        margin-left: 10px;
    }

    .about-widget h3,
    .useful-links h3,
    .popular-destinations h3 {
        margin: 0;
        font-size: 20px;
    }

    .about-widget p {
        font-size: 16px;
        color: white;
    }

    .useful-links {
        /* border: 1px solid greenyellow; */
        width: 25%;
        margin-left: 10px;
        font-size: 16px;
    }

    .popular-destinations {
        /* border: 1px solid brown; */
        width: 35%;
        height: 50vh;
    }

    .social-links {
        margin-top: 15px;
    }

    .countries {
        font-size: 16px;
    }

    .places {
        font-size: 16px;
    }

    .newsletter {
        width: 90%;
        background-color: #f87060;
        height: 28vh;
        margin: 0 auto;
        display: flex;
    }

    .newsletter input {
        height: 5vh;
        width: 95%;
        margin: 40px 0 0 2%;
    }

    .newsletter p {
        position: absolute;
        margin: 10px 0 20px 30%;
        font-size: 14px;
    }

    .newsletter input::placeholder {
        text-align: center;
    }

    .newsletter button {
        position: absolute;
        margin: 25% 0 0 35%;
        height: 5vh;
        width: 20%;
    }

    #success-message {
        margin: 22% 0% 0 25%;
    }

    .popup {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .popup-content {
        background-color: #f87060;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 330px;
        max-width: 90%;
        margin-left: 25%;
        /* margin-bottom: 35%; */
        margin-top: -22%;
    }

    .close-btn {
        position: absolute;
        top: 11%;
        right: 7%;
        font-size: 24px;
        cursor: pointer;
    }
}

@media (max-width: 375px) {
    .info {
        height: fit-content;
    }

    .info-btn {
        margin: 20px 20px 20px 30%;
    }

    .div-2 {
        margin-left: -40%;
        width: 90%;
    }

    .newsletter {
        margin: 30% 0 0 5%;
    }

    .card-2 h3,
    .card-3 h3 {
        font-size: 10px;
        margin-left: 40px;
    }

    .card-4 h3 {
        font-size: 10px;
        margin-left: 34.5%;
    }
}

@media (max-width: 425px) {
    .info {
        height: fit-content;
    }

    .info-btn {
        margin: 20px 20px 20px 30%;
    }

    .div-2 {
        margin-left: -40%;
        width: 90%;
    }

    .newsletter {
        margin: 30% 0 0 5%;
    }

    .card-2 h3,
    .card-3 h3 {
        font-size: 10px;
        margin-left: 40px;
    }

    .card-4 h3 {
        font-size: 10px;
        margin-left: 34.5%;
    }
}

@media (max-width: 320px) {
    body {
        width: fit-content;
    }

    .info {
        height: fit-content;
        width: 100%;
    }

    .card-1 {
        width: 50%;
    }

    .end {
        width: fit-content;
        height: fit-content;
    }

    .newsletter {
        width: 90%;
        background-color: #f87060;
        height: 26vh;
        margin: 50% 0 0 2%;
        display: flex;
    }

    .newsletter button {
        position: absolute;
        margin: 35% 0 20% 37%;
        height: 5vh;
        width: 30%;
    }

    footer {
        background-color: rgb(61, 60, 60);
        text-align: center;
        height: fit-content;
    }
}