*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-bar{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
} 

.nav-bar .logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a{
    color: white;
    font-weight: 24px;
    text-decoration: none;
}

.user-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 30px;
    height: 4px;
    background-color: wheat;
    margin: 5px 0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    border-radius: 5px;
    width: 200px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 10px;
}

.dropdown-menu li {
    padding: 10px 0;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #555;
}

@media(max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li{
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active{
        display: flex;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: safe;
    padding: 20px;
}

section {
    background: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="date"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #38ccccbf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1fa0b1;
}

#destination-suggestions {
    position: absolute;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}

#destination-suggestions div:hover {
    background-color: #f2f2f2;
}

#itinerary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.itinerary-item {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: calc(33.33 - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.itinerary-item h2 {
    margin-top: 0;
}

#add-destination {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#destination-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-btn {
    margin-top: 20px;
}

#map-view{
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
footer {
    background-color: #444;
    height: 80px;
    text-align: center;
    color: #fff;
}